In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Apple_Stock_Clean_Data.csv')
df.head(5)

,Price,Close,High,Low,Open,Volume
0,Ticker,AAPL,AAPL,AAPL,AAPL,AAPL
1,Date,NaN,NaN,NaN,NaN,NaN
2,2000-01-03,0.8392808437347412,0.843498106526373,0.7624286672281552,0.7863279579344354,535796800
3,2000-01-04,0.7685208320617676,0.8294395791039839,0.7586798210785961,0.8116326908754726,512377600
4,2000-01-05,0.7797669172286987,0.8289711831558944,0.7722696339123498,0.7778925838863705,778321600

In [3]:
data = df.iloc[2:].reset_index(drop = True)
data.rename(columns = {'Price':'Date'}, inplace = True)
data['Date'] = pd.to_datetime(data['Date'])
data.set_index('Date', inplace = True)
data.head()

,Close,High,Low,Open,Volume
Date,,,,,
2000-01-03,0.8392808437347412,0.843498106526373,0.7624286672281552,0.7863279579344354,535796800
2000-01-04,0.7685208320617676,0.8294395791039839,0.7586798210785961,0.8116326908754726,512377600
2000-01-05,0.7797669172286987,0.8289711831558944,0.7722696339123498,0.7778925838863705,778321600
2000-01-06,0.7122869491577148,0.8022602282004527,0.7122869491577148,0.7957000884976456,767972800
2000-01-07,0.746027410030365,0.7572742100950559,0.7160366272483127,0.7235339100069036,460734400

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6535 entries, 2000-01-03 to 2025-12-24
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   6535 non-null   object
 1   High    6535 non-null   object
 2   Low     6535 non-null   object
 3   Open    6535 non-null   object
 4   Volume  6535 non-null   object
dtypes: object(5)
memory usage: 306.3+ KB

In [5]:
cols = ['Close','High','Low','Open','Volume']
data[cols] = data[cols].apply(pd.to_numeric, errors = 'coerce')
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6535 entries, 2000-01-03 to 2025-12-24
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   6535 non-null   float64
 1   High    6535 non-null   float64
 2   Low     6535 non-null   float64
 3   Open    6535 non-null   float64
 4   Volume  6535 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 306.3 KB

## 1. Descriptive Analysis

In [6]:
data.describe()

             Close         High          Low         Open        Volume
count  6535.000000  6535.000000  6535.000000  6535.000000  6.535000e+03
mean     48.259245    48.741887    47.730871    48.219767  3.734507e+08
std      69.236284    69.909573    68.489780    69.165185  3.817121e+08
min       0.196742     0.197791     0.190743     0.194792  1.791060e+07
25%       2.145559     2.174951     2.118417     2.153507  1.062371e+08
50%      15.840040    15.997679    15.598283    15.780457  2.526096e+08
75%      51.081549    51.721856    50.698569    51.272398  5.013484e+08
max     286.190002   288.619995   283.299988   286.200012  7.421641e+09

## 2. Market Direction

In [7]:
data['OC_Change'] = data['Close'] - data['Open']
data['OC_Direction'] = data['OC_Change'].apply(
    lambda x: 'Bullish' if x > 0 else 'Bearish'
)
data.head()

,Close,High,Low,Open,Volume,OC_Change,OC_Direction
Date,,,,,,,
2000-01-03,0.839281,0.843498,0.762429,0.786328,535796800,0.052953,Bullish
2000-01-04,0.768521,0.829440,0.758680,0.811633,512377600,-0.043112,Bearish
2000-01-05,0.779767,0.828971,0.772270,0.777893,778321600,0.001874,Bullish
2000-01-06,0.712287,0.802260,0.712287,0.795700,767972800,-0.083413,Bearish
2000-01-07,0.746027,0.757274,0.716037,0.723534,460734400,0.022494,Bullish

## 3. Volatility Measures

In [8]:
# Daily price range
data['High_Low_Range'] = data['High'] - data['Low']

# Intraday volatility (%)
data['Intraday_Volatility_%'] = (
    (data['High'] - data['Low']) / data['Close']
) * 100
data.head()

,Close,High,Low,Open,Volume,OC_Change,OC_Direction,High_Low_Range,Intraday_Volatility_%
Date,,,,,,,,,
2000-01-03,0.839281,0.843498,0.762429,0.786328,535796800,0.052953,Bullish,0.081069,9.659394
2000-01-04,0.768521,0.829440,0.758680,0.811633,512377600,-0.043112,Bearish,0.070760,9.207266
2000-01-05,0.779767,0.828971,0.772270,0.777893,778321600,0.001874,Bullish,0.056702,7.271602
2000-01-06,0.712287,0.802260,0.712287,0.795700,767972800,-0.083413,Bearish,0.089973,12.631606
2000-01-07,0.746027,0.757274,0.716037,0.723534,460734400,0.022494,Bullish,0.041238,5.527623

## 4. Volume change analysis

In [9]:
data['Volume_Change_%'] = data['Volume'].pct_change() * 100
data.tail()

,Close,High,Low,Open,Volume,OC_Change,OC_Direction,High_Low_Range,Intraday_Volatility_%,Volume_Change_%
Date,,,,,,,,,,
2025-12-18,272.190002,273.630005,266.950012,273.609985,51630700,-1.419983,Bearish,6.679993,2.454165,2.975745
2025-12-19,273.670013,274.600006,269.899994,272.149994,144632000,1.520020,Bullish,4.700012,1.717401,180.127908
2025-12-22,270.970001,273.880005,270.510010,272.859985,36571800,-1.889984,Bearish,3.369995,1.243678,-74.713895
2025-12-23,272.359985,272.500000,269.559998,270.839996,29642000,1.519989,Bullish,2.940002,1.079455,-18.948479
2025-12-24,273.809998,275.429993,272.200012,272.339996,17910600,1.470001,Bullish,3.229980,1.179643,-39.576952

## 5. Monthly Returns

In [10]:
monthly_table = data.resample('ME').agg({
    'Open': 'mean',
    'Close': 'mean',
    'High': 'max',
    'Low': 'min',
    'Volume': 'sum'
})

# Monthly return
monthly_table['Monthly_Return_%'] = (
    monthly_table['Close'].pct_change() * 100
)
monthly_table.head()

,Open,Close,High,Low,Volume,Monthly_Return_%
Date,,,,,,
2000-01-31,0.781542,0.774964,0.910977,0.648556,12555177600,NaN
2000-02-29,0.833347,0.837037,0.899263,0.727282,7319782400,8.009823
2000-03-31,0.952949,0.963483,1.127476,0.854745,8698356800,15.106327
2000-04-30,0.922780,0.923014,1.045938,0.786328,8662404800,-4.200277
2000-05-31,0.772520,0.755852,0.946592,0.612942,9807750400,-18.110428

## 6. Yearly Returns

In [11]:
yearly_table = data.resample('YE').agg({
    'Open': 'mean',
    'Close': 'mean',
    'High': 'max',
    'Low': 'min',
    'Volume': 'sum'
})

# Yearly return
yearly_table['Yearly_Return_%'] = (
    yearly_table['Close'].pct_change() * 100
)
yearly_table.head()

,Open,Close,High,Low,Volume,Yearly_Return_%
Date,,,,,,
2000-12-31,0.686656,0.685473,1.127476,0.204314,120301596800,NaN
2001-12-31,0.302389,0.303201,0.406679,0.216498,94657796800,-55.767639
2002-12-31,0.286835,0.287006,0.392432,0.200340,77013927200,-5.341353
2003-12-31,0.277744,0.278088,0.375038,0.190743,71230252800,-3.107116
2004-12-31,0.531163,0.532745,1.043238,0.317605,121801668800,91.574019

In [16]:
data.to_csv("Daily-Returns_Table.csv")
monthly_table.to_csv("Monthly_Returns_Table.csv")
yearly_table.to_csv("Yearly_Returns_Table.csv")